{% extends "base.html" %}
{% block title %}
    Records Procurement - Request History
{% endblock title %}
{% block custom_css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/bootstrap-table.min.css') }}">
{% endblock custom_css_links %}

{% block content %}
    <div class="page-header">
        <div class="row">
            <div class="col-sm-5">
                <h2>Request History</h2>
            </div>
            <div class="col-sm-offset-4 col-sm-3">
                <a href="{{ url_for('request.new_request') }}" class="btn btn-primary btn-large pull-right">New
                    Request</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table id="display_requests" class="table table-nonfluid table-hover"
                   style="border-collapse:collapse"
                   data-toggle="table"
                   data-search="true"
                   data-show-refresh="true"
                   data-show-toggle="true"
                   data-show-columns="true"
                   data-filter-control="true"
                   data-pagination="true"
                   data-side-pagination="client"
                   data-page-list="[5, 10, 20, 50, 100, 200]"
                   data-show-export="true"
                   data-toolbar="#toolbar">

                <thead>
                <tr>
                    <th data-field="id" class="col-sm-1" data-sortable="true">Request #</th>
                    <th class="col-sm-1" data-field="date" data-sortable="true">Date Submitted</th>
                    <th class="col-sm-2" data-field="division" data-sortable="true" data-filter-control="select">
                        Division
                    </th>
                    <th class="col-sm-5" data-sortable="false">Request Description</th>
                    <th class="col-sm-2" data-sortable="true">Status</th>
                    <th class="col-sm-1" data-sortable="false">Total Cost</th>
                    {% if current_user.role == "Administrator" %}
                        <th class="col-sm-1" data-sortable="false">Edit</th>
                    {% endif %}
                    <th class="col-sm-1" data-sortable="false">View</th>
                </tr>
                </thead>
                <tbody>
                {% for request in requests %}
                    <tr id="request-row" class="table-row" data-href="/requests/{{ request.id }}">
                        <td> {{ request.id }} </td>
                        <td> {{ request.date_submitted.date() }} </td>
                        <td> {{ request.division }} </td>
                        <td> {{ request.item }} </td>
                        <td> {{ request.status }} </td>
                        <td> ${{ request.total_cost }} </td>
                        {% if current_user.role == "Administrator" %}
                            <td><a class="btn btn-danger btn-small" href="/requests/edit/{{ request.id }}">Edit</a></td>
                        {% endif %}
                        <td><a class="btn btn-primary btn-small" href="/requests/{{ request.id }}">View</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="spacer"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/bootstrap-table.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/bootstrap-table-filter-control.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/bootstrap-table-export.min.js') }}"></script>
    <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
{#    <script type="text/javascript">#}
{#        $(document).ready(function ($) {#}
{#            $(".table-row").click(function () {#}
{#                window.location = $(this).data("href");#}
{#            });#}
{#        });#}
{#    </script>#}
{% endblock %}
