<!-- This template is to initiate a new request. -->
{% extends "base.html" %} {% block title %}Records Procurement - Edit User Information{% endblock title %}
{% block custom_css_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock custom_css_links %}
{% block content %}
    <div class="page-header">
        <!-- start of static form -->
        <h1>Edit User Information</h1>
    </div>
    <p><i><strong>User Information</strong></i></p>

    <br>

    <form name="edit_user" class="form-horizontal" id="updateUser" method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="form-group row">
            {% for message in form.user_first_name.errors %}
                <div class="alert alert-danger" id="missing_quantity">{{ message }}</div>
            {% endfor %}

            <label for="quantity" class="col-sm-3 form-control-label">User First Name</label>
            <div class="col-sm-5">
                {{ form.user_first_name(id="user_first_name", class="form-control", type="text", value=user.first_name) }}
                <div class="small">Edit first name if applicable.</div>
            </div>
        </div>

        <div class="form-group row">
            {% for message in form.user_last_name.errors %}
                <div class="alert alert-danger" id="missing_quantity">{{ message }}</div>
            {% endfor %}

            <label for="quantity" class="col-sm-3 form-control-label">User Last Name</label>
            <div class="col-sm-5">
                {{ form.user_last_name(id="user_last_name", class="form-control", type="text", value=user.last_name) }}
                <div class="small">Edit last name if applicable.</div>
            </div>
        </div>

        {% if current_user.id != user.id %}
        <div class="form-group row">
            {% for message in form.user_last_name.errors %}
                <div class="alert alert-danger" id="missing_quantity">{{ message }}</div>
            {% endfor %}

            <label for="quantity" class="col-sm-3 form-control-label">User Role</label>
            <div class="col-sm-5">
                {{ form.user_role(id="user_role", class="form-control", default=user.role) }}
                <div class="small">Edit role if applicable.</div>
            </div>
        </div>
        {% endif %}

        <div class="form-group row">
            {% for message in form.user_division.errors %}
                <div class="alert alert-danger" id="missing_quantity">{{ message }}</div>
            {% endfor %}

            <label for="quantity" class="col-sm-3 form-control-label">User Division</label>
            <div class="col-sm-5">
                {{ form.user_division(id="user_division", class="form-control", default=user.division) }}
                <div class="small">Edit division if applicable.</div>
            </div>
        </div>

        <div class="form-group row">
            {% for message in form.user_email.errors %}
                <div class="alert alert-danger" id="missing_quantity">{{ message }}</div>
            {% endfor %}

            <label for="quantity" class="col-sm-3 form-control-label">User Email</label>
            <div class="col-sm-5">
                {{ form.user_email(id="user_email", class="form-control", type="text", value=user.email) }}
                <div class="small">Edit email if applicable.</div>
            </div>
        </div>

        <div class="form-group row">
            {% for message in form.user_phone.errors %}
                <div class="alert alert-danger" id="missing_quantity">{{ message }}</div>
            {% endfor %}

            <label for="quantity" class="col-sm-3 form-control-label">User Phone Number</label>
            <div class="col-sm-5">
                {{ form.user_phone(id="user_phone", class="form-control", type="text", value=user.phone) }}
                <div class="small">Edit phone number if applicable.</div>
            </div>
        </div>

        <div class="form-group row">
            {% for message in form.user_address.errors %}
                <div class="alert alert-danger" id="missing_quantity">{{ message }}</div>
            {% endfor %}

            <label for="quantity" class="col-sm-3 form-control-label">User Address</label>
            <div class="col-sm-5">
                {{ form.user_address(id="user_address", class="form-control", type="text", value=user.address) }}
                <div class="small">Edit address if applicable.</div>
            </div>
        </div>

        {% if current_user.id != user.id %}
        <div class="form-group row">
            <label for="quantity" class="col-sm-3 form-control-label">Reset Password</label>
            <div class="col-sm-5">
                <a class="btn btn-danger btn-small" href="/manage_users/users/reset/{{ user.id }}">Reset Password</a>
                <div class="small">Click to reset user password.</div>
            </div>
        </div>
        {% endif %}

        <div class="form-group row">
            <div class="spacer">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Save Changes</button>
            </div>
        </div>

    </form>
    <!-- end of static form -->
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
{% endblock %}
